.cari-kontena {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tiada-pantun-kontena {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cari-form {
  margin: 0 2rem;
}

.tiada-pantun-teks {
  color: var(--bs-border-color-translucent);
}

@media (max-width: 600px) {
  #cari-pantun {
    display: none;
  }

  #cariPantunHelp {
    display: none;
  }
}
