.kategori-kategori {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.kad {
  width: 20vw;
  height: 15vh;
  margin: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}
