.pantun-pantun {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pantun {
  width: 25vw;
  height: 15vh;
  margin: 20px;
  padding: 10px;
  border-left: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pantun-span {
  text-align: left;
  line-height: 0.8rem;
}

.tanda {
  color: red;
}

.pantun-span span {
  margin-right: 5px;
}

@media (max-width: 320px) {
  .pantun {
    width: 90vw;
    height: 30vh;
    margin: 20px;
  }

  .pantun-span {
    line-height: normal;
  }
}

/* Galaxy Note 20 Ultra Android 11 */
@media (max-width: 412px) {
  .pantun {
    width: 80vw;
    height: 20vh;
    margin: 20px;
  }

  .pantun-span {
    line-height: normal;
  }
}

/* iPhone 12/13 Pro Max iOS 14.6 */
@media (max-width: 428px) {
  .pantun {
    width: 80vw;
    height: 20vh;
    margin: 20px;
  }

  .pantun-span {
    line-height: normal;
  }
}
