.pantun-pantun {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pantun {
  width: 25vw;
  height: 15vh;
  margin: 20px;
  padding: 10px;
  border-left: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pantun-span {
  text-align: left;
  line-height: 5px;
}

.pantun-span span {
  margin-right: 5px;
}
