.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* TODO: potentially pushing HTML elements out of viewport, had to get rid of the class for Teroka and Sumber */
.App-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
